{% extends "blog/base.html" %}

{% block content %}
  {% for post in latest_post_list %}
    <div class="card mt-3">
      <div class="card-header d-flex justify-content-between">
        <div>{{ post.title }}</div>
        <div>{{ post.created }}</div>
      </div>
      <div class="card-body mt-2">
        {% if post.content|wordcount > 20 %}
          <p> {{ post.content | safe | truncatewords:20 }}
            <a href="{% url 'blog:detail' post.id %}">더보기</a>
          </p>
        {% else %}
          <p> {{ post.content | safe}} <a href="{% url 'blog:detail' post.id %}">수정하기</a> </p>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}