<style>
  dl dt, dl dd, dl ul{
      white-space: nowrap;
      display: inline-block;
  }
  dl dt::after {
      content: ":";
      margin-right: 5px;
  }
  dl div {
      display: flex;
  }
  hr {
      border-top: 2px dotted !important;
  }
  .link {
      text-decoration: none;
      color: black;
      border-bottom: 2px solid #e3f2fd;
  }

</style>

{% extends "blog/base.html" %}
{% block content%}
  <h2>
    기본 정보
  </h2>
  <hr/>
  <div class="profile">
    <dl>
      <div>
        <dt>이름</dt><dd>박정훈</dd>
      </div>
      <div>
        <dt>거주지</dt><dd>서울특별시 관악구</dd>
      </div>
      <div>
        <dt>E-mail</dt><dd>park.j3onghoon@gmail.com</dd>
      </div>
      <div>
        <dt>포지션</dt><dd>풀스택을 지향하는 백엔드 웹 개발자</dd>
      </div>
      <div>
        <dt>Links</dt><dd>GitHub</dd>
      </div>
    </dl>
  </div>
  <h2>
    업무 경력
  </h2>
  {% for career_info in career_infos %}
  <hr/>
  <h3><a href='{{ career_info.career.company_link }}' class="link">{{ career_info.career.company_name}}</a></h3>
  <dl>
    <div>
      <dt>포지션</dt><dd>{{ career_info.career.position }}</dd>
    </div>
    <div>
      <dt>근무기간</dt>
      {% if career_info.career.end_date %}
        <dd>{{ career_info.career.start_date }} ~ {{ career_info.career.end_date }}</dd>
      {% else %}
        <dd>{{ career_info.career.start_date }} ~ </dd>
      {% endif %}
    </div>
    <div>
      <dt>업무개요</dt><dd>{{ career_info.career.overview }}</dd>
    </div>
    <div>
      <dt>업무내용</dt>
      <dd>
    {% for work_info in career_info.work_infos %}
          <h5>{{ work_info.work.name }}</h5>
          <dl>
            <div>
              <dt>주요 업무</dt>
              <dd>
                <ul>
              {% for work_detail in work_info.work_detail %}
                  <li> {{ work_detail.detail }}</li>
              {% endfor %}
                </ul>
              </dd>
            </div>
            <dt>관련 키워드</dt>
            <dd>{% for work_keyword in work_info.work_keyword %} {{ work_keyword }} {% endfor %}</dd>
          </dl>
    {% endfor %}
      </dd>
    </div>
  </dl>
  {% endfor %}
{% endblock %}


